<div class="ui container centered">
    <div class="ui basic very padded segment">
        <h2>CRUD works!</h2>
    </div>
    <div class="ui middle aligned divided list">
        <div class="item" *ngFor="let item of items | async">
            <div class="ui transparent input padded">
                <input type="text" #updatetext [value]="item.text" />
            </div>
            <div class="right floated content">
                <button class="ui button" (click)="updateItem(item.key, updatetext.value)">Update</button>
                <button class="ui button" (click)="deleteItem(item.key)">Delete</button>
            </div>
        </div>
    </div>

    <div class="ui input">
        <input type="text" #newitem placeholder="Add text..." />
    </div>

    <button (click)="addItem(newitem.value)" class="ui primary submit labeled icon button"><i class="icon edit"></i> Add Comment</button>
    <button (click)="deleteEverything()" class="ui button">Delete All</button>
</div>
<!-- 
<div class="ui middle aligned divided list">
    <div class="item">
        <div class="right floated content">
            <div class="ui button">Update</div>
            <div class="ui button">Delete</div>
        </div>
        <img class="ui avatar image" src="/assets/images/lena.png">
        <div class="content">
            Lena
        </div>
    </div>
</div> -->