<div class="ui top tiny large menu">
    <div class="item">
        <a routerLink="/main">DFLEX</a>
    </div>
    <a class="item" routerLink="/about">CRUD</a>
    <a class="item" routerLink="/dashboard">Filter</a>
    <a class="item" routerLink="/googlemap">Googlemap</a>
    <div class="ui dropdown item">
        Admin <i class="dropdown icon"></i>
        <div class="menu">
            <a class="item" routerLink="/gmap">map add</a>
            <a class="item">setting</a>
            <a class="item">notice</a>
            <a class="item" routerLink="/profile">profile</a>
        </div>
    </div>
    <div class="right menu">
        <div class="" *ngIf="afAuth.authState | async as user; else showLogin">
            <a class="item" routerLink="/login">
                <img class="ui avatar image" src="{{user.photoURL}}">
            </a>
        </div>
    </div>

    <!-- <div class="right menu" *ngIf="afAuth.authState | async; let user; else showLogin">
            <div class="ui dropdown item">
                <img class="ui avatar image" src="{{user.photoURL}}"> logout <i class="dropdown icon"></i>
                <div class="menu">
                    <a class="item" (click)="logout()">logout</a>
                    <a class="item">setting</a>
                    <a class="item">notice</a>
                </div>
            </div>
        </div> -->

    <ng-template #showLogin>
        <div class="right menu"><a class="item" routerLink="/login">Sign In</a></div>
    </ng-template>

</div>
<router-outlet></router-outlet>