<!--The content below is only a placeholder and can be replaced.-->
<!-- <a routerLink="/main" class="btn btn-default">Home</a>
<a routerLink="/about" class="btn btn-default">About</a>
<a routerLink="/dashboard" class="btn btn-default">dashboard</a>
<a routerLink="/location" class="btn btn-default">location</a>
<a routerLink="/googlemap" class="btn btn-default">googlemap</a> -->
<div class="ui top inverted large menu">
    <div class="item">
        <a routerLink="/main">D.Flex</a>
    </div>
    <a class="item" routerLink="/about">About</a>
    <a class="item" routerLink="/dashboard">DashBoard</a>
    <a class="item" routerLink="/googlemap">Googlemap</a>
    <a class="item" routerLink="/login">login</a>
    <div class="right menu">
        <a class="item" routerLink="/login">Sign Up</a>
        <a class="item"> <i class="setting icon"></i></a>
        <!-- <div class="ui dropdown item">
            Language <i class="dropdown icon"></i>
            <div class="menu">
                <a class="item">English</a>
                <a class="item">Russian</a>
                <a class="item">Spanish</a>
            </div>
        </div> -->
        <!-- <div class="item">
            <div class="ui transparent icon input">
                <input type="text" placeholder="Search users...">
                <i class="search link icon"></i>
            </div>
        </div> -->
    </div>
</div>

<p></p>
<p></p>
<router-outlet></router-outlet>
<!-- <ul>
    <li class="text" *ngFor="let item of items | async">
        {{item.title}}
    </li>
</ul> -->