<div class="ui centered container">
    <div class="ui basic segment">
        <h2>Filter List</h2>
    </div>
    <div>
        <h4>Filter by size</h4>
        <div class="ui buttons">
            <button class="ui button" (click)="filterBy('small')">Small</button>
            <button class="ui button" (click)="filterBy('medium')">Medium</button>
            <button class="ui button" (click)="filterBy('large')">Large</button>
            <button class="ui button" (click)="filterBy('x-large')">Extra Large</button>
            <button class="ui button" (click)="filterBy(null)" *ngIf="this.size$.getValue()"><em>clear filter</em></button>
        </div>
    </div>
    <div class="ui list" *ngIf="items$ | async; let items; else loading">

        <div class="ui segment basic" *ngFor="let item of items">
            {{ item.payload.val().name }}
            <code>{{ item.payload.key }}</code>
        </div>

        <div class="ui segment basic" *ngIf="items.length === 0">검색결과가 없습니다.</div>
    </div>
    <ng-template #loading>
        <div class="ui segment basic">
            <div class="ui active inverted dimmer">
                <div class="ui text loader">Loading</div>
            </div>
            <p></p>
        </div>
    </ng-template>

</div>